# this depends on filaments and having an anealing delay set up:

[gcode_macro ANNEAL]
    {% if printer.extruder.filament.annealing is defined and printer.extruder.filament.annealing > 0.0 %}
        UPDATE_DELAYED_GCODE ID=annealing_delayed_gcode DURATION=1
    {% else %}
        M118 Annealing of {printer.extruder.filament.name} filament is not required
    {% endif %}

[delayed_gcode annealing_delayed_gcode]
gcode:
    
    {% if printer.heater_bed.target > 40 %}
        #M118 reduce temp to ({printer.heater_bed.target - 5 }C°).
        M140 S{ printer.heater_bed.target - 1 }
        # calculate the duration for 1% of the annealing time
        {% set duration =  1000. * 60. * (printer.extruder.filament.annealing / 100.0) %}
        UPDATE_DELAYED_GCODE ID=annealing_delayed_gcode DURATION=duration
    {% else %}
        M118 Print annealing completed ({printer.heater_bed.temperature}C°).
    	M140 S0 ; turn off bed
    {% endif %}