################################################################################
# Loading, Unloading and Purging
################################################################################
[gcode_macro PURGE_FILAMENT]
gcode:
    SAVE_GCODE_STATE NAME=PURGE_FILAMENT
    PARK_FOR_SERVICE
    WARM_UP_NOZZLE
    HEAT_IF_NEEDED
    G91
    # 30mm @ 3m/s
    G1 E30 F{3 * 60}
    RESTORE_GCODE_STATE NAME=PURGE_FILAMENT

# ref for the nextruder: https://github.com/prusa3d/Prusa-Firmware-Buddy/blob/b3ee47aa573f4d9b4af82d7a6963f43ab37ccc08/include/marlin/Configuration_XL_adv.h#L1416
[gcode_macro LOAD_FILAMENT]
gcode:
    SAVE_GCODE_STATE NAME=LOAD_FILAMENT
    PARK_FOR_SERVICE
    WARM_UP_NOZZLE
    HEAT_IF_NEEDED
    # ideally there would be a pause here to ask the user to load filament into the extruder gears
    G91
    # 30mm @ 5.4mm/s - load filament into extruder gears
    G1 E30 F{5.4 * 60}
    # 50mm @ 18mm/s - load filament into melt zone
    G1 E50 F{18 * 60}
    # purge filament, only this step requires heating
    PURGE_FILAMENT
    RESTORE_GCODE_STATE NAME=LOAD_FILAMENT

[gcode_macro UNLOAD_FILAMENT]
gcode:
    SAVE_GCODE_STATE NAME=UNLOAD_FILAMENT
    PARK_FOR_SERVICE
    WARM_UP_NOZZLE
    HEAT_IF_NEEDED
    G91
    # Purge filament, flush melt zone before retracting
    # 15mm @ 24mm/s
    G1 E15 F{24 * 60}
    # https://github.com/prusa3d/Prusa-Firmware-Buddy/blob/b3ee47aa573f4d9b4af82d7a6963f43ab37ccc08/lib/Marlin/Marlin/src/feature/pause.cpp#L365
    # 20mm @ 27mm/s
    G1 E-20 F{27 * 60} # retract fast, to pull hot filament out of the melt zone
    # 30mm @ 5mm/s
    G1 E-30 F{5 * 60} # retract slowly to cool filament tip
    # 105mm @ 27mm/s
    G1 E-50 F{105 * 60} # eject filament completly from extruder
    RESTORE_GCODE_STATE NAME=UNLOAD_FILAMENT

################################################################################
# Filament Presets
################################################################################
[gcode_macro PETG]
gcode:
    SET_FILAMENT NAME="PETG"

[gcode_macro PLA]
gcode:
    SET_FILAMENT NAME="PLA"

[gcode_macro ASA]
gcode:
    SET_FILAMENT NAME="ASA"

[gcode_macro PC]
gcode:
    SET_FILAMENT NAME="PC"

[gcode_macro PVB]
gcode:
    SET_FILAMENT NAME="PVB"

[gcode_macro ABS]
gcode:
    SET_FILAMENT NAME="ABS"

[gcode_macro HIPS]
gcode:
    SET_FILAMENT NAME="HIPS"

[gcode_macro PP]
gcode:
    SET_FILAMENT NAME="PP"

[gcode_macro FLEX]
gcode:
    SET_FILAMENT NAME="FLEX"

[gcode_macro _create_all_filaments]
gcode:
    SETUP_FILAMENT NAME=PLA EXTRUDER=215 BED=60 PROBE_TEMP=170
    SETUP_FILAMENT NAME=PETG EXTRUDER=230 BED=85 PROBE_TEMP=170
    SETUP_FILAMENT NAME=ASA EXTRUDER=260 BED=100 PROBE_TEMP=190
    SETUP_FILAMENT NAME=PC EXTRUDER=275 BED=100 PROBE_TEMP=190
    SETUP_FILAMENT NAME=PVB EXTRUDER=215 BED=75  PROBE_TEMP=140
    SETUP_FILAMENT NAME=ABS EXTRUDER=255 BED=100 PROBE_TEMP=170
    SETUP_FILAMENT NAME=HIPS EXTRUDER=220 BED=100 PROBE_TEMP=160
    SETUP_FILAMENT NAME=PP EXTRUDER=240 BED=100 PROBE_TEMP=160
    SETUP_FILAMENT NAME=FLEX EXTRUDER=240 BED=50 PROBE_TEMP=140

################################################################################
# Nozzle Sizes
################################################################################
[gcode_macro NOZZLE_15]
gcode:
    CHANGE_NOZZLE NOZZLE_DIAMETER=0.15

[gcode_macro NOZZLE_25]
gcode:
    CHANGE_NOZZLE NOZZLE_DIAMETER=0.25

[gcode_macro NOZZLE_40]
gcode:
    CHANGE_NOZZLE NOZZLE_DIAMETER=0.4

[gcode_macro NOZZLE_60]
gcode:
    CHANGE_NOZZLE NOZZLE_DIAMETER=0.6

[gcode_macro NOZZLE_80]
gcode:
    CHANGE_NOZZLE NOZZLE_DIAMETER=0.8

################################################################################
# Pressure Advance
################################################################################

[gcode_macro SET_EXTRUDER_PA]
gcode:
    {% set extruder = 'extruder' + (params.EXTRUDER | default('')) %}
    {% if extruder == 'extruder0' %}
        {% set extruder = 'extruder' %}
    {% endif %}
    {% set extruder_nozzle_diameter = (printer[extruder]).nozzle_diameter %}
    {% set nozzle = (params.NOZZLE | default(extruder_nozzle_diameter) | float) %}
    # option 1, get the default PA value from the current filament
    {% set advance = params.ADVANCE | default((printer[extruder]).filament.pressure_advance) | float %}
    # option 2, fall back to the default PA value from the config file
    {% if not advance %}
        {% set advance = printer.configfile.config[extruder].pressure_advance %}
    {% endif %}

    {% if nozzle == extruder_nozzle_diameter %}
        SET_PRESSURE_ADVANCE EXTRUDER={extruder} ADVANCE={advance}
        {action_respond_info("Pressure Advance Set: Extruder: %s Nozzle: %f Pressure Advance: %f" % (extruder, nozzle, advance))}
    {% endif %}