[gcode_macro _HOME_X]
gcode:
    # Always use consistent run_current on A/B steppers during sensorless homing
    {% set RUN_CURRENT_X = printer.configfile.settings['tmc2209 stepper_x'].run_current|float %}
    {% set RUN_CURRENT_Y = printer.configfile.settings['tmc2209 stepper_y'].run_current|float %}
    {% set HOME_CURRENT = 0.7 %}
    SET_TMC_CURRENT STEPPER=stepper_x CURRENT={HOME_CURRENT}
    SET_TMC_CURRENT STEPPER=stepper_y CURRENT={HOME_CURRENT}

    # Home
    G28 X
    # Move away
    G91
    G1 X-50 F12000
    
    # Wait just a second… (give StallGuard registers time to clear)
    G4 P500
    # Set current during print
    SET_TMC_CURRENT STEPPER=stepper_x CURRENT={RUN_CURRENT_X}
    SET_TMC_CURRENT STEPPER=stepper_y CURRENT={RUN_CURRENT_Y}

[gcode_macro _HOME_Y]
gcode:
    # Set current for sensorless homing
    {% set RUN_CURRENT_X = printer.configfile.settings['tmc2209 stepper_x'].run_current|float %}
    {% set RUN_CURRENT_Y = printer.configfile.settings['tmc2209 stepper_y'].run_current|float %}
    {% set HOME_CURRENT = 0.7 %}
    SET_TMC_CURRENT STEPPER=stepper_x CURRENT={HOME_CURRENT}
    SET_TMC_CURRENT STEPPER=stepper_y CURRENT={HOME_CURRENT}

    # Home
    G28 Y
    # Move away
    G91
    G1 Y-50 F12000

    # Wait just a second… (give StallGuard registers time to clear)
    G4 P250
    # Set current during print
    SET_TMC_CURRENT STEPPER=stepper_x CURRENT={RUN_CURRENT_X}
    SET_TMC_CURRENT STEPPER=stepper_y CURRENT={RUN_CURRENT_Y}

# [gcode_macro _HOME_Z]
# gcode:
#     SET_GCODE_OFFSET Z=0
#     G90  # absolute move
#     G1 Y140 X130 F12000
#     G28 Z  # home
#     # remember it cant be 1.0 because of the overshoot!
#     G1 Z2 F{5 * 60}  # move up to 2mm
#     PROBE #SAMPLES=3  # take 3 probe samples
#     # Dragons:
#     # A move needs to be issued so the kinematics get updated position info!!
#     # without this move its always off by the length of the pullback move!!
#     G1 Z5 F{5 * 60}  # lift to 5mm
#     M400
#     _HOME_Z_FROM_LAST_PROBE # has to be a sub-macro call to see probing results


[gcode_macro _HOME_Z_FROM_LAST_PROBE]
gcode:
    {% set z_probed = printer.probe.last_z_result %}  # absolute position of the probe
    {% set z_position = printer.toolhead.position[2] %}  # absolute position of the kinematics
    # the probed position is going to be a positive number, like 0.05
    # and this means that the "actual" 0 position is higher than the homed position
    {% set z_actual = z_position - z_probed %}
    {action_respond_info("Probed z: %.6fmm, Z Position: %.6fmm, Corrected Z Position: %.6fmm" % (z_probed, z_position, z_actual))}
    SET_KINEMATIC_POSITION Z={z_actual}

[gcode_macro _HOME_Z]
gcode:
    SET_GCODE_OFFSET Z=0
    # retract if hot
    _RETRACT_BEFORE_PROBING

    G90  # absolute move
    G1 X150 Y299 F{200 * 60}  # move to X/Y position for homing

    # Set current for sensorless homing
    {% set RUN_CURRENT_Z = printer.configfile.settings['tmc2209 stepper_z'].run_current|float %}
    {% set HOME_CURRENT = 0.4 %}
    SET_TMC_CURRENT STEPPER=stepper_z CURRENT={HOME_CURRENT}
    SET_TMC_CURRENT STEPPER=stepper_z1 CURRENT={HOME_CURRENT}
    SET_TMC_CURRENT STEPPER=stepper_z2 CURRENT={HOME_CURRENT}
    SET_TMC_CURRENT STEPPER=stepper_z3 CURRENT={HOME_CURRENT}

    # Home
    G28 Z

    # Wait just a second… (give StallGuard registers time to clear)
    G4 P250
    # Set current during print
    SET_TMC_CURRENT STEPPER=stepper_z CURRENT={RUN_CURRENT_Z}
    SET_TMC_CURRENT STEPPER=stepper_z1 CURRENT={RUN_CURRENT_Z}
    SET_TMC_CURRENT STEPPER=stepper_z2 CURRENT={RUN_CURRENT_Z}
    SET_TMC_CURRENT STEPPER=stepper_z3 CURRENT={RUN_CURRENT_Z}

    # lift z by 18mm to clear the bed
    G91
    G1 Z18 F{10 * 60}
    G90
    G1 Y140 X130 F{200 * 60}  # move to X/Y position for homing with probe

    # probe at standard speed
    PROBE # this will allow for failed taps to clean the nozzle and retry
    _HOME_Z_FROM_LAST_PROBE

    # lift z to 10mm for clearance
    G91
    G1 Z10 F{10 * 60}

# [gcode_macro _HOME_Z_LOADCELL]
# gcode:
#     SET_GCODE_OFFSET Z=0
#     G90  # absolute move
#     G1 Y140 X130 F{200 * 60}  # move to X/Y position for homing
#     # soft home the z axis to its limit so it can be moved:
#     SET_KINEMATIC_POSITION Z={printer.toolhead.axis_maximum[2]}
# 
#     # perform a single load cell tap, IGNORE forces homing to succeed
#     PROBE PROBE_SPEED=5 BAD_TAP_STRATEGY=IGNORE  # inital fast approach
#     _HOME_Z_FROM_LAST_PROBE
# 
#     # lift z by 1mm
#     G91
#     G1 Z1 F{10 * 60}
# 
#     # probe at standard speed
#     PROBE # this will allow for failed taps to clean the nozzle and retry
#     _HOME_Z_FROM_LAST_PROBE
# 
#     # lift z to 10mm for clearance
#     G91
#     G1 Z10 F{10 * 60}

[gcode_macro _HOMING_OVERRIDE]
gcode:
    # enable the case lights
    SET_CASE_LIGHTS_BRIGHT
    
    # todo: safe lift Z
    SET_KINEMATIC_POSITION Z=0
    G91
    G1 Z18 F600
    G90
    
    {% set home_all = 'X' not in params and 'Y' not in params and 'Z' not in params %}
    {% if home_all or 'X' in params %}
        _HOME_X
    {% endif %}
    {% if home_all or 'Y' in params %}
        _HOME_Y
    {% endif %}
    {% if home_all or 'Z' in params %}
        _HOME_Z
    {% endif %}

[gcode_macro QGL_AND_HOME_Z]
gcode:
    SET_GCODE_OFFSET Z=0
    # Always QGL and Home Z
    # Machine may have been QGL'd cold and will crash at print temp!
    _RETRACT_BEFORE_PROBING
    QUAD_GANTRY_LEVEL
    G28 Z

[gcode_macro QUAD_GANTRY_LEVEL]
rename_existing: _QUAD_GANTRY_LEVEL
gcode:
    # If QGL is not applied, first run a course calibration
    {% if printer.quad_gantry_level.applied == False %}
        _QUAD_GANTRY_LEVEL RETRY_TOLERANCE=1.0 PROBE_SPEED=5 BAD_TAP_STRATEGY=RETRY
    {% endif %}
    # then perform fine QGL down to desired spec
    # this has to be a separate macro call so the results of the above call will be visible!
    _FINE_QUAD_GANTRY_LEVEL

[gcode_macro _FINE_QUAD_GANTRY_LEVEL]
gcode:
    {% if printer.quad_gantry_level.applied == True %}
        # go for full quality at reduced probing height
        _QUAD_GANTRY_LEVEL HORIZONTAL_MOVE_Z=2.0  BAD_TAP_STRATEGY=RETRY  # <- set your perferred probing height here!
    {% else %}
        # This should never happen, just perform the full valibration using the defaults
        {action_respond_info("Fine QGL called without calling course QGL first!")}
        _QUAD_GANTRY_LEVEL BAD_TAP_STRATEGY=RETRY  # default behaviour, no speedup
    {% endif %}

[gcode_macro G32]
gcode:
    BED_MESH_CLEAR
    HOME_IF_NEEDED
    #QGL_AND_HOME_Z
