#####################################################################
#  Thermal Z Compensation
#####################################################################

[z_thermal_adjust nozzle]
temp_coeff: -0.000553    # based on macro with linear regression
#temp_coeff: 0.0  # test value
sensor_type: temperature_combined
sensor_list: extruder
combination_method: max
min_temp: 0
max_temp: 400
maximum_deviation: 1
max_z_adjustment: 0.5

[z_thermal_adjust frame]
#[z_thermal_adjust]
gcode_id: ZFARME
temp_coeff: 0.0088  # based on about 2 hours of testing with the load cell
sensor_type: Generic 3950
sensor_pin: T1
min_temp: 0
max_temp: 120
max_z_adjustment: 1.0

#####################################################################
#  Load Cell Test Config
#####################################################################
[simple_tap_classifier]
#compression_start_angle_range: 70, 110
compression_end_angle_range: 65, 110
#decompression_start_angle_range: 95, 135
decompression_end_angle_range: 95, 135

[tap_recorder]

[load_cell_probe]
sensor_type: hx717
dout_pin: TFT_4
sclk_pin: TFT_3
counts_per_gram: 87.944082
reference_tare_counts: 559000  # 552000 @ ambient, 566000 @ 170C
sensor_orientation: inverted
force_safety_limit: 4000
## probing filter
drift_filter_cutoff_frequency: 0.8
buzz_filter_cutoff_frequency: 120
notch_filter_frequencies: 60
z_offset: 0.
speed: 2.0
retry_speed: 50
lift_speed: 5.0
samples: 1
# Prusa are using a vanishingly small 0.23mm retract distance between probes:
# https://github.com/prusa3d/Prusa-Firmware-Buddy/blob/f26c91ba57b004e570a73fb9c9cda0ce3e433b40/include/marlin/Configuration_MK4.h#L1003
sample_retract_dist: 0.3
samples_tolerance: 0.005
samples_tolerance_retries: 3
activate_gcode:
    PROBE_TEMP_SAFETY_CHECK

## Pullback Move control
#pullback_speed: 0.15
#pullback_distance: 0.13
pullback_distance: 0.1
tap_classifier_module: simple_tap_classifier
bad_tap_retries: 8
bad_tap_strategy: CIRCLE
#nozzle_cleaner_gcode:
#    _TAP_AND_MOVE
