# Measure the nozzle length over a temperature range and report the rate of chagne
[gcode_macro MEASURE_NOZZLE_Z_THERM_COEFF]
variable_temperatures: []
variable_z_values: []
gcode:
    SET_GCODE_VARIABLE MACRO=MEASURE_NOZZLE_Z_THERM_COEFF VARIABLE=z_values VALUE=[]
    {% set temperatures = [] %}

    # setup variables
    {% set MIN_TEMP = params.MIN_TEMP|default(140)|int %}
    {% set MAX_TEMP = params.MAX_TEMP|default(290)|int %}
    {% set SOAK_TIME = (params.SOAK_TIME|default(20.0)|float) * 1000.0 %}
    {% set INTERVAL = params.INTERVAL|default(10)|int %}
    {% set SAMPLES = params.SAMPLES|default(5)|int %}

    # measure temp going up ever INTERVAL degrees
    {% for EXTRUDER_TEMP in range(MIN_TEMP, MAX_TEMP, INTERVAL) %}
        M109 S{EXTRUDER_TEMP}
        G4 P{SOAK_TIME}
        {% set _ = temperatures.append(EXTRUDER_TEMP) %}
        _MEASURE_NOZZLE_Z_THERM_COEFF__MEASURE_Z SAMPLES={SAMPLES}
    {% endfor %}

    # measure temp going down every INTERVAL degrees
    {% for EXTRUDER_TEMP in range(MIN_TEMP, MAX_TEMP, INTERVAL)|reverse %}
        M109 S{EXTRUDER_TEMP}
        G4 P{SOAK_TIME}
        {% set _ = temperatures.append(EXTRUDER_TEMP) %}
        _MEASURE_NOZZLE_Z_THERM_COEFF__MEASURE_Z SAMPLES={SAMPLES}
    {% endfor %}

    # extruder to 0
    M104 S0

    SET_GCODE_VARIABLE MACRO=MEASURE_NOZZLE_Z_THERM_COEFF VARIABLE=temperatures VALUE="{temperatures | pprint | replace("\n", "")}"
    
    _MEASURE_NOZZLE_Z_THERM_COEFF__SHOW_RESULTS


[gcode_macro _MEASURE_NOZZLE_Z_THERM_COEFF__SHOW_RESULTS]
gcode:
    {% set measure = printer['gcode_macro MEASURE_NOZZLE_Z_THERM_COEFF'] %}
    {% set temperatures = measure.temperatures %}
    {% set z_values = measure.z_values %}

    # debug logging
    {action_respond_info("Temperatures: %s" % (temperatures | pprint | string |replace("\n", "")))}
    {action_respond_info("Z Values: %s" % (z_values | pprint | string | replace("\n", "")))}

    # linear regression
    {% set avg_temp = (temperatures | sum) / (temperatures | length) %}
    {% set avg_z = (z_values | sum) / (z_values | length) %}
    {% set a = [] %}
    {% set b = [] %}
    {% for temp in temperatures %}
        {% set _ = a.append(temp * (z_values[loop.index - 1] - avg_z)) %}
        {% set _ = b.append(temp * (temp - avg_temp)) %}
    {% endfor %}
    {% set a_sum = a | sum %}
    {% set b_sum = b | sum %}
    {% set temp_coeff = ((a_sum / b_sum) * -1.0) | round(8) %}
    # tell the user what the setting is:
    {action_respond_info("Temperature Coefficient: %s" % (temp_coeff))}

[gcode_macro _MEASURE_NOZZLE_Z_THERM_COEFF__MEASURE_Z]
gcode:
    {% set SAMPLES = params.SAMPLES|default(5)|int %}
    PROBE SAMPLES={SAMPLES}  # take 5 probe samples
    # Dragons:
    # A move needs to be issued so the kinematics get updated position info!!
    # without this move its always off by the length of the pullback move!!
    G1 Z5 F{5 * 60}  # lift to 5mm
    M400
    _MEASURE_NOZZLE_Z_THERM_COEFF__SAVE_Z # has to be a sub-macro call to see probing results

# this call save the result of the last probe and the current temperature to two arrays
[gcode_macro _MEASURE_NOZZLE_Z_THERM_COEFF__SAVE_Z]
gcode:
    {% set measure = printer['gcode_macro MEASURE_NOZZLE_Z_THERM_COEFF'] %}
    {% set z_values = measure.z_values %}
    {% set z_probed = printer.probe.last_z_result %}  # absolute position of the probe
    {% set _ = z_values.append(z_probed) %}

    # debug
    #{action_respond_info("Z Values: %s" % (z_values | pprint | string | replace("\n", "")))}
    
    SET_GCODE_VARIABLE MACRO=MEASURE_NOZZLE_Z_THERM_COEFF VARIABLE=z_values VALUE="{z_values | pprint | replace("\n", "")}"