
[gcode_macro NOZZLE_SCRUB]
description: repeatedly scrub the nozzle against a brush
gcode:
    # these defaults are probably "safe" to try without customizing
    {% set RETURN = params.RETURN | default(True) %}
    {% set BRUSH_POSITION = params.BRUSH_POSITION | default("100.0,100.0") %}
    {% set BRUSH_POSITION_X = BRUSH_POSITION.split(",")[0] | float %}
    {% set BRUSH_POSITION_Y = BRUSH_POSITION.split(",")[1] | float %}
    {% set BRUSH_SIZE = params.BRUSH_SIZE | default("50.0,8.0") %}
    {% set BRUSH_SIZE_X = BRUSH_SIZE.split(",")[0] | float %}
    {% set BRUSH_SIZE_Y = BRUSH_SIZE.split(",")[1] | float %}
    {% set TRAVEL_SPEED = (params.TRAVEL_SPEED | default((printer.configfile.config.bed_mesh.speed | float) * 60.0)) | float %}
    {% set TRAVEL_HEIGHT = (params.TRAVEL_HEIGHT | default((printer.configfile.config.bed_mesh.horizontal_move_z | float))) | float %}
    {% set LIFT_SPEED = (params.LIFT_SPEED | default(5) | float) %}
    {% set WIPE_SPEED = (params.WIPE_SPEED | default(TRAVEL_SPEED)) | float %}
    # This defaults the wipe height to something that should be safe
    {% set WIPE_HEIGHT = (params.WIPE_HEIGHT | default(TRAVEL_HEIGHT)) | float %}
    # default step size is the nozzle diameter
    {% set STEP_SIZE = (params.STEP_SIZE | default((printer.configfile.config.extruder.nozzle_diameter | float)) | float) %}
    # default step size is the nozzle diameter
    {% set Z_STEP_SIZE = (params.STEP_SIZE | default((printer.configfile.config.extruder.nozzle_diameter | float)) | float )%}
    {% set NOZZLE_DEPTH = (params.NOZZLE_DEPTH | default(0.0)) | float %}
    # 1 pass is 2 strokes across the brush, out and back
    {% set PASSES = (params.PASSES | default(2)) | int %}

    SAVE_GCODE_STATE NAME=NOZZLE_SCRUB

    ##########################
    # Travel to Scrubbing Area

    G90 # absolute mode
    G0 Z{TRAVEL_HEIGHT} F{LIFT_SPEED * 60} # lift Z for travel
    G0 X{BRUSH_POSITION_X} Y{BRUSH_POSITION_Y} F{TRAVEL_SPEED * 60} # travel to brush origin
    G0 Z{WIPE_HEIGHT} F{LIFT_SPEED * 60} # drop Z to wipe height
    
    ##########################
    # Scrub on long axis of brush
    _NOZZLE_SCRUB_90 BRUSH_DIRECTION=X BRUSH_POSITION={BRUSH_POSITION} BRUSH_SIZE={BRUSH_SIZE} WIPE_SPEED={WIPE_SPEED} PASSES={PASSES}

    #####################
    # Exit Scrubbing Area

    G90 # absolute mode
    G0 Z{TRAVEL_HEIGHT} F{LIFT_SPEED * 60} # lift Z for travel

    # return to the location where the command was issued, if RETURN == True
    {% if RETURN %}
        RESTORE_GCODE_STATE NAME=NOZZLE_SCRUB MOVE=1 MOVE_SPEED={TRAVEL_SPEED}
    {% else %}
        # else restore gcode state with no movement
        RESTORE_GCODE_STATE NAME=NOZZLE_SCRUB
    {% endif %}

##########################
# 0 and 90 degrees → and ↑
[gcode_macro _NOZZLE_SCRUB_90]
description: scrubs at 0 and 90 degrees
gcode:
    SAVE_GCODE_STATE NAME=_NOZZLE_SCRUB_90

    {% set BRUSH_DIRECTION = params.BRUSH_DIRECTION | string %} # 'X' or 'Y'
    {% set BRUSH_POSITION = params.BRUSH_POSITION %}
    {% set BRUSH_POSITION_X = BRUSH_POSITION.split(",")[0] | float %}
    {% set BRUSH_POSITION_Y = BRUSH_POSITION.split(",")[1] | float %}
    {% set BRUSH_SIZE = params.BRUSH_SIZE %}
    {% set BRUSH_SIZE_X = BRUSH_SIZE.split(",")[0] | float %}
    {% set BRUSH_SIZE_Y = BRUSH_SIZE.split(",")[1] | float %}
    {% set WIPE_SPEED = params.WIPE_SPEED | float %}
    {% set PASSES = params.PASSES | int %}

    G90 # absolute mode
    G0 X{BRUSH_POSITION_X} Y{BRUSH_POSITION_Y} F{WIPE_SPEED * 60} # travel to brush position

    {% set ns = namespace() %} # namespace required to update variabled in the loop
    {% set scrub_horizontal = BRUSH_DIRECTION == 'X' %}
    {% set ns.brush_width = (BRUSH_SIZE_X if scrub_horizontal else BRUSH_SIZE_Y) %}
    {% set brush_height = (BRUSH_SIZE_Y if scrub_horizontal else BRUSH_SIZE_X) %}
    {% set step = brush_height / (PASSES + 1) %}
    {% set step = step if brush_height >= 0 else (-1 * step) %}

    #{action_respond_info("DEBUG: scrub_horizontal: %s, ns.brush_width: %f, brush_height: %f, BRUSH_SIZE_X: %d, BRUSH_SIZE_Y: %d" % (scrub_horizontal is true, ns.brush_width, brush_height, BRUSH_SIZE_X, BRUSH_SIZE_Y))}

    G91 # relative mode
    {% for wipe in range(PASSES) %}
        {% if scrub_horizontal %}
            G0 Y{step} F{WIPE_SPEED * 60}
            G0 X{ns.brush_width} F{WIPE_SPEED * 60}
        {% else %} # scrub in the Y axis
            G0 X{step} F{WIPE_SPEED * 60}
            G0 Y{ns.brush_width} F{WIPE_SPEED * 60}
        {% endif %}

        # reverse direction of the brush width on each pass
        {% set ns.brush_width = -1 * ns.brush_width %}
    {% endfor %}
    RESTORE_GCODE_STATE NAME=_NOZZLE_SCRUB_90
