[gcode_macro CALIBRATE_PRESSURE_ADVANCE]
description: print a Pressure Advance test pattern
variable_parameter_BED_TEMP: None
variable_parameter_EXTRUDER_TEMP: None
variable_parameter_EXTRUSION_FACTOR: 100
gcode:
    {% set extrusion_factor = (params.EXTRUSION_FACTOR | default(100.0) | float) / 100.0 %}
    #FYI: this gets the defaults from the active extruder, you have to switch tools before calibrating
    {% set extruder = printer.toolhead.extruder %}
    {% set bed_temp = params.BED_TEMP | default((printer[extruder]).filament.bed) | float %}
    {% set extruder_temp = params.EXTRUDER_TEMP | default((printer[extruder]).filament.extruder) | float %}
    {% set nozzle = (printer[extruder]).nozzle_diameter %}

    {action_respond_info("bed temp: %f" % (bed_temp))}
    {action_respond_info("extruder temp: %f" % (extruder_temp))}
    {action_respond_info("nozzle diameter: %f" % (nozzle))}

    # configure print start
    _SETUP_PRINT_START EXTRUDER_TEMP={extruder_temp} BED_TEMP={bed_temp} PRINT_START_X=80 PRINT_START_Y=80 PRINT_END_X=210 PRINT_END_Y=210

    # configure pressure advance
    SET_GCODE_VARIABLE MACRO=_CALIBRATE_PRESSURE_ADVANCE VARIABLE=extrusion_factor VALUE={extrusion_factor}
    SET_GCODE_VARIABLE MACRO=_CALIBRATE_PRESSURE_ADVANCE VARIABLE=nozzle VALUE={nozzle}

    # run print job
    SDCARD_PRINT_FILE FILENAME="calibration_prints/pressure_advance.gcode"

[gcode_macro _CALIBRATE_PRESSURE_ADVANCE]
description: calls the underlying _PA_CAL macro from the test print using gcode variables
variable_extrusion_factor: 1.0
variable_nozzle: 0.4
gcode:
    {% set cpa = printer['gcode_macro _CALIBRATE_PRESSURE_ADVANCE'] %}
    _PA_CAL EXTRUSION_FACTOR={cpa.extrusion_factor} NOZZLE={cpa.nozzle}

## This is a fork of https://github.com/ksanislo/klipper-pa_cal
## Forked because I dont want to deal with the install script touching the config file since I keep those in git.
## also I wanted parameter not save variables

[gcode_macro _PA_CAL]
# Klipper pressure advance line calibration macro.
# Usage: PA_CAL PA_START=0.0 PA_STOP=0.1 PA_STEPS=20 NOZZLE=0.4
# Or you can execute with no parameters, which will use values from printer.cfg and saved_variables.cfg.

# Based on http://realdeuce.github.io/Voron/PA/pressure_advance.html
# Sourced from u/Deepsiks, assisted by u/imoftendisgruntled, u/scul86, and thanks to u/beansisfat, u/stray_r
# Cleaned up and moved to using saved_variables.cfg by u/jibbsisme
# Fully parameterized and extended by u/ksanislo

description: Tune Pressure Advance
gcode:
  { action_respond_info("In _PA_CAL")}

  # macro parameters
  {% set ER = params.EXTRUSION_FACTOR|default(1.0)|float %}
  {% set NOZZLE = params.NOZZLE|default(printer.configfile.config["extruder"]["nozzle_diameter"])|float %}

  # Less commonly needed variables
  {% set PA_START = params.PA_START|default(0.0)|float %}
  {% set PA_STOP = params.PA_STOP|default(0.1)|float %}
  {% set PA_STEPS = params.PA_STEPS|default(20)|int %}
  {% set FD = printer.configfile.config["extruder"]["filament_diameter"]|float %}
  {% set AR = params.pa_accel|default(3000) %}
  {% set DR = params.pa_accel_to_decel|default(1500) %}
  {% set SL = params.pa_slow_length|default(20) %}
  {% set FL = params.pa_fast_length|default(40) %}
  {% set BL = params.pa_between_lines|default(5) %}
  {% set MS = params.pa_move_speed|default(300)*60 %}
  {% set SS = params.pa_slow_speed|default(20)*60 %}
  {% set FS = params.pa_fast_speed|default(140)*60 %}
  {% set ZS = params.pa_z_speed|default(20)*60 %}
  {% set RS = params.pa_retract_speed|default(35)*60 %}
  {% set RD = params.pa_retract_dist|default(NOZZLE) %}
  {% set LH = params.pa_layer_height|default(0.20) %}
  {% set LR = params.pa_line_ratio|default(1.25) %}
  {% set BE = params.pa_bold_extrude|default(1.1)|float %}
  {% set EF = params.pa_enable_frame|default(1) %}
  {% set EM = params.pa_enable_markers|default(0) %}
  {% set PV = params.pa_print_values|default(1) %}
  {% set PH = params.pa_print_height|default(4) %}
  {% set ML = params.pa_marker_length|default(BL*2) %}
  {% set DU = params.pa_draw_underline|default(1) %}
  {% set UO = params.pa_underline_overlap|default(0.25)|float %}
  {% set PP = params.pa_precision|default("%.3f") %}

  {% set PX = PH/4 %}
  # calculated variables
  {% if printer.configfile.config['printer']['kinematics'] == 'delta' %}
    {% set X_MID = 0.0|float %}
    {% set Y_MID = 0.0|float %}
  {% else %}
    {% set X_MID = printer.configfile.config["stepper_x"]["position_max"]|float / 2.0 %}
    {% set Y_MID = printer.configfile.config["stepper_y"]["position_max"]|float / 2.0 %}
  {% endif %}
  {% set STARTX = X_MID - (((SL*2)+FL)/2) %}
  {% set STARTY = Y_MID - (PA_STEPS * BL / 2.0) %}
  {% set PA_STEP = (PA_STOP - PA_START) / PA_STEPS|float %}
  {% set LINE_WIDTH = NOZZLE * LR|float %}
  {% set ERAT = LINE_WIDTH * LH / ((FD / 2)*(FD / 2) * 3.14159) * ER|float %}
  
  G21 ; millimeter units
  G90 ; absolute XYZ
  M83 ; relative E
  SET_VELOCITY_LIMIT ACCEL={AR} ACCEL_TO_DECEL={DR}
  G92 E0
  M106 S0

  # draw framing lines
  {% if EF == 1 %} ; only frame if enabled
    G1 X{STARTX} Y{STARTY} F{MS}      ; move to start position
    G1 Z{LH} F{ZS}                    ; move to layer height
    G1 E{RD} F{RS}                    ; un-retract
    G1 Y{STARTY+(PA_STEPS*BL)} E{ERAT*(PA_STEPS*BL)*BE} F{SS}; print first frame line
    G1 X{STARTX+LINE_WIDTH}           ; shift over
    G1 Y{STARTY} E{ERAT*(PA_STEPS*BL)*BE} ; print first return frame line
    G1 E-{RD} F{RS}                   ; retract
    G1 X{STARTX+FL+(SL*2)} F{MS}      ; move to second line start
    G1 E{RD} F{RS}                    ; un-retract
    G1 Y{STARTY+(PA_STEPS*BL)} E{ERAT*(PA_STEPS*BL)*BE} F{SS}; print second frame line
    G1 X{STARTX+FL+(SL*2)-LINE_WIDTH} ; shift over
    G1 Y{STARTY} E{ERAT*(PA_STEPS*BL)*BE} ; print second return frame line
    G1 E-{RD} F{RS}                   ; retract
  {% endif %}

  # draw markers
  {% if EM == 1 %} ; only when markers enabled
    G1 X{STARTX+SL+FL} Y{STARTY-ML} F{MS} ; marker 1 start
    G1 E{RD} F{RS}                     ; un-retract
    G1 Y{STARTY} E{ERAT*ML} F{SS}      ; marker 1 end
    G1 E-{RD} F{RS}                    ; retract
    G1 X{STARTX+SL} Y{STARTY-ML} F{MS} ; marker 2 start
    G1 E{RD} F{RS}                     ; un-retract
    G1 Y{STARTY} E{ERAT*ML} F{SS}      ; marker 2 end
    G1 E-{RD} F{RS}                    ; retract
    G1 X{STARTX+SL} Y{STARTY+(PA_STEPS*BL)+ML} F{MS} ; marker 3 start
    G1 E{RD} F{RS}                     ; un-retract
    G1 Y{STARTY+(PA_STEPS*BL)} E{ERAT*ML} F{SS} ; marker 3 end
    G1 E-{RD} F{RS}                    ; retract
    G1 X{STARTX+SL+FL} Y{STARTY+(PA_STEPS*BL)+ML} F{MS} ; marker 4 start
    G1 E{RD} F{RS}                     ; un-retract
    G1 Y{STARTY+(PA_STEPS*BL)} E{ERAT*ML} F{SS} ; marker 4 end
    G1 E-{RD} F{RS}                    ; retract
  {% endif %}

  # draw the actual test lines
  { action_respond_info("Printing pressure advance pattern")}
  {% for i in range(0, PA_STEPS+1) %}
    {% set PA_VAL = PA_START + (i * PA_STEP) %}
    SET_PRESSURE_ADVANCE ADVANCE={PA_VAL}   ; set Pressure Advance
    M117 PA={PA_VAL}, STEP={PA_STEP}.
    G1 X{STARTX} Y{STARTY+(BL*i)} F{MS}                       ; move to start position
    G1 Z{LH} F{ZS}                                            ; move to layer height
    G1 E{RD} F{RS}                                            ; un-retract
    G1 X{(STARTX+SL)} Y{STARTY+(BL*i)} E{ERAT*SL} F{SS}       ; print line part one
    G1 X{(STARTX+SL+FL)} Y{STARTY+(BL*i)} E{ERAT*FL} F{FS}    ; print line part two
    G1 X{(STARTX+SL+FL+SL)} Y{STARTY+(BL*i)} E{ERAT*SL} F{SS} ; print line part three
    G1 E-{RD} F{RS}                                           ; retract
    G1 Z{LH*2} F{ZS}                                          ; move above layer height    
  {% endfor %}

  # draw pa value labels
  { action_respond_info("Printing pressure advance labels")}
  {% if PV == 1 %}
    {% for i in range(0, PA_STEPS+1) %}
      {% if i is divisibleby(((PH+1)/BL)|round(0,'ceil')|int) %}
      {% set PA_VAL = PA_START + (i * PA_STEP) %}
      SET_PRESSURE_ADVANCE ADVANCE={PA_VAL} ; set Pressure Advance
      M117 PA={PA_VAL}, STEP={PA_STEP}
      G1 X{STARTX+FL+(SL*2)+PX} Y{STARTY+(BL*i)} F{MS}          ; move to label position
      {% for a in PP|format(PA_VAL) %}                          ; convert float to string with specified precision
        G1 Z{LH} F{ZS}                                          ; move to layer height
        G91 ; relative positioning
        {% if a == "." %}
          G1 Y-{2*PX} F{MS}
          G1 E{RD} F{RS}         ; un-retract
          G1 Y{0.5*PX} E{ERAT*(0.5*PX)}
          G1 X{0.5*PX} E{ERAT*(0.5*PX)}
          G1 Y-{0.5*PX} E{ERAT*(0.5*PX)}
          G1 X-{0.5*PX} E{ERAT*(0.5*PX)}
          G1 E-{RD} F{RS}        ; retract
          G1 X{1.5*PX} Y{2*PX} F{MS}
        {% elif a == "0" %}
          G1 Y{2*PX} F{MS}
          G1 E{RD} F{RS}         ; un-retract
          G1 X{2*PX} E{ERAT*2*PX} F{SS}
          G1 Y-{4*PX} E{ERAT*4*PX}
          G1 X-{2*PX} E{ERAT*2*PX}
          G1 Y{4*PX} E{ERAT*4*PX}
          G1 E-{RD} F{RS}        ; retract
          G1 X{3*PX} Y-{2*PX} F{MS}
        {% elif a == "1" %}
          G1 X{PX} Y{2*PX} F{MS}
          G1 E{RD} F{RS}         ; un-retract
          G1 Y-{4*PX} E{ERAT*4*PX} F{SS}
          G1 E-{RD} F{RS}        ; retract
          G1 X{2*PX} Y{2*PX} F{MS}
        {% elif a == "2" %}
          G1 Y{2*PX} F{MS}
          G1 E{RD} F{RS}         ; un-retract
          G1 X{2*PX} E{ERAT*2*PX} F{SS}
          G1 Y-{2*PX} E{ERAT*2*PX}
          G1 X-{2*PX} E{ERAT*2*PX}
          G1 Y-{2*PX} E{ERAT*2*PX}
          G1 X{2*PX} E{ERAT*2*PX}
          G1 E-{RD} F{RS}        ; retract
          G1 X{PX} Y{2*PX} F{MS}
        {% elif a == "3" %}
          G1 Y{2*PX} F{MS}
          G1 E{RD} F{RS}         ; un-retract
          G1 X{2*PX} E{ERAT*2*PX} F{SS}
          G1 Y-{4*PX} E{ERAT*4*PX}
          G1 X-{2*PX} E{ERAT*2*PX}
          G1 E-{RD} F{RS}        ; retract
          G1 Y{2*PX} F{MS}
          G1 E{RD} F{RS}         ; un-retract
          G1 X{2*PX} E{ERAT*2*PX} F{SS}
          G1 E-{RD} F{RS}        ; retract
          G1 X{PX} F{MS}
        {% elif a == "4" %}
          G1 Y{2*PX} F{MS}
          G1 E{RD} F{RS}         ; un-retract
          G1 Y-{2*PX} E{ERAT*2*PX} F{SS}
          G1 X{2*PX} E{ERAT*2*PX}
          G1 Y{2*PX} F{MS}
          G1 Y-{4*PX} E{ERAT*4*PX} F{SS}
          G1 E-{RD} F{RS}        ; retract
          G1 X{PX} Y{2*PX} F{MS}
        {% elif a == "5" %}
          G1 X{2*PX} Y{2*PX} F{MS}
          G1 E{RD} F{RS}         ; un-retract
          G1 X-{2*PX} E{ERAT*2*PX} F{SS}
          G1 Y-{2*PX} E{ERAT*2*PX}
          G1 X{2*PX} E{ERAT*2*PX}
          G1 Y-{2*PX} E{ERAT*2*PX}
          G1 X-{2*PX} E{ERAT*2*PX}
          G1 E-{RD} F{RS}        ; retract
          G1 X{3*PX} Y{2*PX} F{MS}
        {% elif a == "6" %}
          G1 X{2*PX} Y{2*PX} F{MS}
          G1 E{RD} F{RS}         ; un-retract
          G1 X-{2*PX} E{ERAT*2*PX} F{SS}
          G1 Y-{4*PX} E{ERAT*4*PX}
          G1 X{2*PX} E{ERAT*2*PX}
          G1 Y{2*PX} E{ERAT*2*PX}
          G1 X-{2*PX} E{ERAT*2*PX}
          G1 E-{RD} F{RS}        ; retract
          G1 X{3*PX} F{MS}
        {% elif a == "7" %}
          G1 E{RD} F{RS}         ; un-retract
          G1 Y{2*PX} E{ERAT*2*PX} F{SS}
          G1 X{2*PX} E{ERAT*2*PX}
          G1 Y-{4*PX} E{ERAT*4*PX}
          G1 E-{RD} F{RS}        ; retract
          G1 X{PX} Y{2*PX} F{MS}
        {% elif a == "8" %}
          G1 E{RD} F{RS}         ; un-retract
          G1 Y{2*PX} E{ERAT*2*PX} F{SS}
          G1 X{2*PX} E{ERAT*2*PX}
          G1 Y-{4*PX} E{ERAT*4*PX}
          G1 X-{2*PX} E{ERAT*2*PX}
          G1 Y{2*PX} E{ERAT*2*PX}
          G1 X{2*PX} E{ERAT*2*PX}
          G1 E-{RD} F{RS}        ; retract
          G1 X{PX} F{MS}
        {% elif a == "9" %}
          G1 X{2*PX} F{MS}
          G1 E{RD} F{RS}         ; un-retract
          G1 X-{2*PX} E{ERAT*2*PX} F{SS}
          G1 Y{2*PX} E{ERAT*2*PX}
          G1 X{2*PX} E{ERAT*2*PX}
          G1 Y-{4*PX} E{ERAT*4*PX}
          G1 X-{2*PX} E{ERAT*2*PX}
          G1 E-{RD} F{RS}        ; retract
          G1 X{3*PX} Y{2*PX} F{MS}
        {% endif %}
        G90                      ; absolute positioning
        G1 Z{LH*2} F{ZS}         ; move above layer height
      {% endfor %}

      {% if DU == 1 %} ; if draw_underline is enabled
        G1 X{STARTX+FL+(SL*2)+(PX*2)+(PP|format(PA_VAL)|length-1)*(PX*3)} Y{STARTY+(BL*i)-(PX*2)-(LINE_WIDTH*(1-UO))} F{MS} ; move to underline position
        G1 Z{LH} F{ZS}           ; move to layer height
        G1 E{RD} F{RS}           ; un-retract
        G1 X{STARTX+FL+(SL*2)} E{ERAT*((PX*2)+(PP|format(PA_VAL)|length-1)*(PX*3))*BE} F{SS} ; draw underline
        {% if i == 0 %} ; connect first underline to the frame
          G1 Y{STARTY} E{ERAT*((PX*2)+(LINE_WIDTH*(1-UO)))*BE} F{SS}
        {% endif %}
        G1 E-{RD} F{RS}          ; retract
      {% endif %}
      {% endif %}
    {% endfor %}
  {% endif %}

  { action_respond_info("_PA_CAL end")}