

[gcode_macro TAP_DATA_COLLECTION]
gcode:
    SAVE_GCODE_STATE NAME=TAP_DATA_COLLECTION
    {% set TAPS = params.TAPS|default(10)|int %}
    {% set MOVE_SPEED = params.MOVE_SPEED|default(100.0)|float %}
    {% set START_X = params.START_X|default(25.0)|float %}
    {% set START_Y = params.START_Y|default(25.0)|float %}
    {% set temps = [0, 140, 180, 180, 180, 180] %}
    {% set extrusions = [0.0, 0.0, 0.01, 0.05, 0.1, 0.2] %}
    {% set file_names = ["../control_cold.json", "../control_hot.json", "../extrude_0.01.json", "../extrude_0.05.json", "../extrude_0.10.json", "../extrude_0.20.json"] %}

    HOME_IF_NEEDED
    QUAD_GANTRY_LEVEL

    # Go to start position:
    G1 X{START_X} Y{START_Y} F{MOVE_SPEED * 60}

    {% for i in range(temps|length) %}
        {% set temp = temps[i] %}
        {% set extrusion = extrusions[i] %}
        {% set file_name = file_names[i] %}
        # heat extruder and wait
        M109 S{ temp }
        #SCRUB_NOZZLE  # this returns to exactly where it left off
        M400
        # start capturing tap data
        TAP_RECORDER_START FILE={file_name}
        TAP_LOOP TAPS={TAPS} EXTRUSION_DISTANCE={extrusion} MOVE_SPEED={MOVE_SPEED} MOVE_DISTANCE={4.0}
        TAP_RECORDER_STOP
        # move backwards 10mm to do the next row
        G91
        G1 Y20 F{MOVE_SPEED * 60}
        # move left to start position
        G90
        G1 X{START_X} F{MOVE_SPEED * 60}
    {% endfor %}

    TURN_OFF_HEATERS

    RESTORE_GCODE_STATE NAME=TAP_DATA_COLLECTION

# perform taps in a loop, moving over between each one
[gcode_macro TAP_LOOP]
gcode:
    SAVE_GCODE_STATE NAME=TAP_LOOP
    {% set TAPS = params.TAPS|default(3)|int %}
    {% set MOVE_DISTANCE = params.MOVE_DISTANCE|default(5.0)|float %}
    {% set MOVE_SPEED = params.MOVE_SPEED|default(100.0)|float %}
    {% set EXTRUSION_DISTANCE = params.EXTRUSION_DISTANCE|default(0.0)|float %}
    # to do with lifting
    {% set HORIZONTAL_MOVE_Z = params.HORIZONTAL_MOVE_Z|default(1.5)|float %}
    {% set LIFT_SPEED = params.LIFT_SPEED|default(5.0)|float %}

    {% for tap in range(TAPS) %}
        # extrude and tap
        EXTRUDING_SINGLE_TAP EXTRUSION_DISTANCE={EXTRUSION_DISTANCE} LIFT_SPEED={LIFT_SPEED}
        # move right
        G91
        G1 X{MOVE_DISTANCE} F{MOVE_SPEED * 60}
    {% endfor %}
    RESTORE_GCODE_STATE NAME=TAP_LOOP


[gcode_macro EXTRUDING_SINGLE_TAP]
gcode:
    SAVE_GCODE_STATE NAME=EXTRUDING_SINGLE_TAP
    {% set EXTRUSION_DISTANCE = params.EXTRUSION_DISTANCE|default(0.0)|float %}
    {% set HORIZONTAL_MOVE_Z = params.HORIZONTAL_MOVE_Z|default(1.5)|float %}
    {% set LIFT_SPEED = params.LIFT_SPEED|default(5.0)|float %}
    # extrude some filament
    M83
    G1 E{EXTRUSION_DISTANCE} F2400
    G92 E0 ; reset extruder position
    M400
    # pause for the pressure in thenozzle to stabilize
    G4 P1000
    LOAD_CELL_TAP
    # retract to static retract height
    G90
    G1 Z{HORIZONTAL_MOVE_Z} F{LIFT_SPEED * 60}
    RESTORE_GCODE_STATE NAME=EXTRUDING_SINGLE_TAP
